# Python virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.python-version

# Conda environments
.conda/
conda-meta/

# Environment variable files
.env
.env.*
*.env
skills/*
.github

# Cache and log files
__pycache__/
*.pyc

# Data files
data/raw/*